extends layout

block content
  nav.navbar.navbar-toggleable-md.fixed-top.navbar-inverse.bg-inverse
    a.navbar-brand(href="javascript:;") #{title}
    .navbar-collapse.collapse
        ul.navbar-nav.mr-auto
            li.nav-item: a.nav-link(href="javascript:;") Home
